# Ignore everything by default
*

# Allow directories
!assets/
!assets/**
!wp-content/
!wp-content/plugins/
!wp-content/plugins/woocommerce/
!wp-content/plugins/woocommerce/assets/
!wp-content/plugins/woocommerce/assets/**
!wp-includes/
!wp-includes/js/
!wp-includes/js/**

# Allow redirect folders
!shop/
!shop/index.html
!product-detail/
!product-detail/index.html
!about/
!about/index.html
!contact/
!contact/index.html
!gallery/
!gallery/index.html
!blog/
!blog/index.html
!blog-detail/
!blog-detail/index.html

# Allow specific files in root
!index.html
!about.html
!contact.html
!gallery.html
!blog.html
!blog-detail.html
!shop.html
!product-detail.html
!cart.html
!checkout.html
!transaction-success.html
!cart/
!cart/index.html
!checkout/
!checkout/index.html
!transaction-success/
!transaction-success/index.html
!.nojekyll
!.gitignore
!.htaccess
