# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /raabiha/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /raabiha/index.php [L]
</IfModule>
# END WordPress

