# BEGIN Static Pages Rewrite
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /raabiha/
RewriteRule ^shop/?$ shop.html [L]
RewriteRule ^product-detail/?$ product-detail.html [L]
RewriteRule ^about/?$ about.html [L]
RewriteRule ^contact/?$ contact.html [L]
RewriteRule ^gallery/?$ gallery.html [L]
RewriteRule ^blog/?$ blog.html [L]
RewriteRule ^blog-detail/?$ blog-detail.html [L]
</IfModule>
# END Static Pages Rewrite

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /raabiha/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /raabiha/index.php [L]
</IfModule>
# END WordPress

